@import "tailwindcss";
@plugin "daisyui";

/* 1. Sobrescribiendo el tema light (y el comportamiento por defecto) */
:root, [data-theme="light"] {
  --color-primary: #134C42; /* Tu verde ATSYS */
  --color-primary-content: #ffffff;
  --color-secondary: #D926A9;
  --color-accent: #1FB2A6;
  --color-neutral: #2a323c;
  
  /* Estructura y fondos suaves */
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #e2e8f0;
  
  /* Alertas y estados suavizados para la Orden de Trabajo */
  --color-info: #0284c7;
  --color-success: #059669;
  --color-warning: #d97706;
  --color-error: #dc2626;
}

/* 2. Sobrescribiendo el tema dark (por si los usuarios lo activan) */
[data-theme="dark"] {
  --color-primary: #2aa690;
  --color-primary-content: #ffffff;
  --color-secondary: #1a5e52;
  --color-accent: #2dd4bf;
  --color-neutral: #111827;
  --color-neutral-content: #9ca3af;
  
  /* Fondos oscuros */
  --color-base-100: #0d1117;
  --color-base-200: #161b22;
  --color-base-300: #21262d;
  --color-base-content: #ebedef;
  
  /* Estados para modo oscuro */
  --color-info: #bae6fd;
  --color-success: #2aa690;
  --color-warning: #fef08a;
  --color-error: #fecaca;
  --color-gray-800: #ebedef;
  --color-gray-700: #e2e8f0;
  
}